.header{
    display: flex;
    align-items: center;
    padding: 20px 0px;
    border-bottom: 1px solid rgb(226, 226, 226);
}

.headerIcon {
    display: flex;
    align-items: center;  /* 세로 정렬 (필요에 따라 수정) */
    justify-content: space-between; /* 가로 정렬 (필요에 따라 수정) */
    width: 100%;
    margin-left: 50px;
    margin-right: 50px;
  }
  
  .headerMenu{
    display: flex;
    gap: 120px;
    align-items: center;
  }

  .headerIcon img {
    margin: 0 10px; /* 이미지 간 간격 */
  }
  
  .headerIcon div {
    margin: 0 10px; /* 텍스트 간 간격*/  
  }

  .headerTapDiv{
    display: flex;
    gap: 30px;
    font-size: 22px;
    font-weight: bold;
  }
  

  /* 메뉴 전체 컨테이너 */
.headerMenu {
  position: relative;
}

/* 더보기 버튼 */
#mainOtherTap {
  transition: transform 0.3s ease;
}

#mainOtherTap:hover {
  transform: rotate(45deg);
}

/* 추가 메뉴 */
.additionalMenu {
  display: none;
  position: absolute;
  top: 50px; /* 원하는 위치에 맞게 조정 */
  right: 0;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 10px;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.additionalMenu.show {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

/* 메뉴 항목 스타일 */
.menuItem {
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  color: #333;
  transition: background-color 0.3s ease;
  border-radius: 6px;
}

.menuItem:hover {
  background-color: #f0f0f0;
}
