.main {
    height: 90vh;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.main .mainTop{
    width: 80%; 
    height: 50%; 
}

.mainTop img {
    width: 100%; 
    height: 100%;
    object-fit: contain;  
}