/* Modal.css */

/* 전체 모달 배경 */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); /* 반투명 검정 배경 */
  z-index: 999; /* 모달이 캘린더 위로 오게 */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 모달 창 */
.modal-content {
  background-color: #fff; /* 모달 배경색 */
  padding: 30px;
  border-radius: 10px;
  width: 500px;
  max-width: 90%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* 부드러운 그림자 */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 모달 제목 */
.modal-title {
  font-size: 24px;
  font-weight: bold;
  color: black;
  margin-bottom: 20px;
}

/* 폼 입력 영역 */
.form-group {
  margin-bottom: 15px;
  width: 100%;
}

/* 텍스트 입력 필드 */
.input-field,
.textarea-field,
.file-input {
  width: 96%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 8px;
  border: 1px solid black;
  font-size: 14px;
}
/* 텍스트영역 */
.textarea-field {
  height: 100px;
}

/* 버튼 스타일 */
.close-btn {
  background-color: #dfb6f5; /* 버튼 배경색 */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
  margin-right : 10px;
}

.close-btn:hover {
  background-color: #dfb6f5; /* 버튼 호버 효과 */
}

/* 콘텐츠 인풋 */
#content{
  border: 1px solid black;
}

#contentsModal{
  background-color: #fff;
}

/* file */
.file-container {
  display: flex;
  align-items: center; /* 수평으로 정렬 */
  justify-content: space-between; /* 양쪽 끝에 배치 */
  width: 100%;
}

.file-list {
  flex: 1; /* 파일명이 왼쪽에 위치하도록 설정 */
  padding-right: 20px; /* 버튼과의 간격을 줌 */
}

.file-item {
  font-size: 14px;
  color: #333;
  width: 409px;
  height: 20px;
  border-radius: 5px;
}

.form-group {
  display: inline-block; /* 파일 첨부 버튼은 오른쪽에 배치 */
}

.file-label {
  display: inline-block;
  padding: 7px 10px;
  background-color: #dfb6f5; /* 버튼 배경 색 */
  color: white;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s, transform 0.3s ease;
  width: 100%;  /* 버튼 너비를 100%로 설정 */
  max-width: 53px; /* 최대 너비 제한 */
  position: relative;
  overflow: hidden;
  margin-top: 20px;;
}

.file-label:hover {
  background-color: #cf9be7; /* hover 색상 */
  transform: translateY(-2px); /* 살짝 올라가는 애니메이션 */
}

.file-label:active {
  transform: translateY(0); /* 클릭 시 눌린 효과 */
}

.file-input {
  display: none; /* 기본 input[type="file"] 숨김 */
}

.file-label span {
  display: block;
  font-size: 14px;
  color: #fff;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

